<?xml version="1.0" encoding="utf-8"?>
<!-- 
  Note: As an alternative to hand editing this file you can use the 
  web admin tool to configure settings for your application. Use
  the Website->Asp.Net Configuration option in Visual Studio.
  A full list of settings and comments can be found in 
  machine.config.comments usually located in 
  \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <elmah>
    <security allowRemoteAccess="yes" />
    <errorMail from="no-reply@powerplaydirect.co.uk" to="dev-system@bevalued.co.uk" cc="" subject="ELMAH: Dev Atom" async="true" smtpPort="25" smtpServer="smtpserver.powerplay.local" userName="itsupport" password="itsupport" />
  </elmah>
  <log4net configSource="log4net.config" />
  <appSettings>
    <add key="url" value="dev-atom" />
    <add key="autosubscribeusers" value="" />
    <add key="WebLogArchiveLocation" value="D:\Archive" />
    <add key="ApplicationName" value="ATOM" />
    <add key="Environment" value="Debug" />
    <add key="ApplicationName" value="Atom" />
    <add key="HomeUrl" value="http://home.bevalued.co.uk" />
  </appSettings>
  <connectionStrings>
    <add name="Atom.Main" connectionString="Data Source=SQLDEV; Database=Fusion;Integrated Security=SSPI;Application Name=Atom.Main" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <siteMap defaultProvider="FusionMenu">
      <providers>
        <add name="FusionMenu" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Areas/Fusion/Views/menu.sitemap" />
        <add name="StatsMenu" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Areas/Stats/Views/menu.sitemap" />
      </providers>
    </siteMap>
    <!-- 
	  Set compilation debug="true" to insert debugging 
	  symbols into the compiled page. Because this 
	  affects performance, set this value to true only 
	  during development.
  -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
    <!--
	  The <customErrors> section enables configuration 
	  of what to do if/when an unhandled error occurs 
	  during the execution of a request. Specifically, 
	  it enables developers to configure html error pages 
	  to be displayed in place of a error stack trace.

   
  -->
    <customErrors defaultRedirect="Error/Index" mode="Off">
      <error statusCode="404" redirect="Error/NotFound" />
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
      <namespaces>
        <add namespace="Atom.Areas.Fusion.Domain.Models" />
        <add namespace="Atom.Areas.Fusion.Domain" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Linq" />
        <add namespace="System.Collections.Generic" />
        <add namespace="Atom.Main.Areas.Fusion.Services" />
        <add namespace="Atom.Main.Areas.Fusion.Services.Domain" />
        <add namespace="Atom.Areas.Fusion.Data" />
        <add namespace="Atom.Areas.Fusion.Data.Queries" />
        <add namespace="BeValued.Utilities.Extensions" />
        <add namespace="Atom.Main.Areas.Suppliers.Services" />
        <add namespace="xVal.Rules" />
        <add namespace="xVal.Html" />
        <add namespace="xVal.ServerSide" />
        <add namespace="xVal.RuleProviders" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      <add type="BeValued.Security.Web.SecurityProxyHandler" path="mockuserconfig.axd" verb="GET,POST" />
    </httpHandlers>
    <httpModules>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
      <add name="SecurityProxyModule" type="BeValued.Security.Web.SecurityProxyModule, BeValued.Security" />
      <add name="ApplicationAccessModule" type="BeValued.Security.Web.ApplicationAccessModule, BeValued.Security" />
    </httpModules>
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
    <authentication mode="None" />
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
  <location path="elmah.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Areas/Fusion/Content">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Areas/Fusion/Content/Images/signatures">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="\\MESON\pickup\" />
      </smtp>
    </mailSettings>
  </system.net>
  <!-- 
	The system.webServer section is required for running ASP.NET AJAX under Internet
	Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
      <remove name="FormsAuthentication" />
      <add name="SecurityProxyModule" type="BeValued.Security.Web.SecurityProxyModule, BeValued.Security" />
      <add name="ApplicationAccessModule" type="BeValued.Security.Web.ApplicationAccessModule, BeValued.Security" />
    </modules>
    <handlers>
      <remove name="MvcHttpHandler" />
      <remove name="UrlRoutingHandler" />
      <add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      <add name="SecurityProxyHandler" type="BeValued.Security.Web.SecurityProxyHandler" path="mockuserconfig.axd" verb="GET,POST" />
    </handlers>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StructureMap" publicKeyToken="e60ad81abae3c223" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.3.0" newVersion="2.6.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>